.infoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.form {
  height: 200px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: #fff;
}

.input {
  min-height: 64px;
  width: 480px;
  border: none;
  border-radius: 40px;
  background-color: #fff;
  color: #030001b4;
  cursor: text;
  caret-color: #fff;
  height: 60px;
  box-sizing: border-box;
  padding: 0 18px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  outline: none;
  transition: focus .5s;
  position: relative;
  z-index: 1;
}

.input:focus {
  color: #b32e63;
  /*border: 2px solid #b32e63;*/
  box-shadow: 0 0 10px 0 #b32e63 inset, 0 0 10px 4px #b32e63;
}

.buttonBack {
  width: 250px;
  height: 50px;
  border-style: none;
  border-radius: 100px;
  border-color: #d15385;
  color: #fff;
  background-color: #d15385;
  box-shadow: 0 0 10px 0 #fff inset, 0 0 10px 4px #fff;
  cursor: pointer;
  text-align: center;
}

.buttonBack:hover {
  background-color: #d15385;
  box-shadow: 0 0 10px 0 #b32e63 inset, 0 0 10px 4px #b32e63;
}

.buttonCreate {
  width: 250px;
  height: 50px;
  border-style: none;
  border-radius: 100px;
  border-color: #d15385;
  color: #fff;
  background-color: #d15385;
  box-shadow: 0 0 10px 0 #fff inset, 0 0 10px 4px #fff;
  cursor: pointer;
  text-align: center;
  margin: 0 auto;
 }