.card__item_info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.card__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
  color: #fff;
  transition: transform 0.2s;
  font-size: 14px;
  cursor: pointer;
}

.card__item:hover {
  transform: scale(1.05);
}

.card__delete_button {
  background-image: url("../../images/icon-trash-light.svg");
  position: absolute;
  width: 30px;
  height: 30px;
  border-style: none;
  background-repeat: no-repeat;
  background-color: rgba(0,0,0, 0);
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.card__delete_button:hover {
  background-image: url("../../images/icon-trash-dark.svg");
  transition: 0.5s;
}

.card__item_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px 20px;
  gap: 10px;
}

.card__text {
  align-items: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.card__image {
  width: 240px;
  object-fit: cover;
  aspect-ratio: 1/1;
  border-radius: 110px;

}

@media (max-width: 670px) {
  .card__item:hover {
    transform: none;
  }
}

.card__favorite_button {
  background-image: url("../../images/icon-favorite.svg");
  background-repeat: no-repeat;
  width: 22px;
  height: 22px;
  border: none;
  cursor: pointer;
  background-color: rgba(0,0,0, 0);
  position: absolute;
  bottom: 0;
  right: 15px;
}

.active {
  background-image: url("../../images/icon-favorite-painted.svg");
}

.inactive {
  background-image: url("../../images/icon-favorite.svg");
}

.card__favorite_button:hover {
  background-image: url("../../images/icon-favorite-painted.svg");
  transition: 0.5s;
}