.header {
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px 50px;
  box-sizing: border-box;
  height: 80px;
  background-color: #000;
  width: 100%;
  z-index: 20;
  color: #fff;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cart {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.info {
  display: flex;
  flex-direction: row;
  gap: 20px 10px;
}

.cost {
  color: #c19434;
  text-align: center;
}

.button {
  background-color: #c19434;
  border-style: none;
  border-radius: 10px;
  cursor: pointer;
}

@media (max-width: 670px) {
  .header {
    height: 100px;
    padding: 15px;
    gap: 15px;
    align-items: center;
  }
}