@import url(./assets/fonts/fonts.css);

:root {
  --font-family-logo: 'Flavors', Arial, sans-serif;
}

:global .text_type_heading-main {
  font-family: var(--font-family-logo);
  font-size: 30px;
  line-height: 1.2;
  font-weight: 400;
}
